$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
// endbower
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
  // padding-top: 20px;
  // padding-bottom: 20px;
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;

    .navbar  {

        background-color: #39543C;
        border-color: #1D3420;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;

        a, a:hover, a:focus, a:active, a.active  {
            
            outline: 0;
            color: #46A24F !important;
            text-transform: uppercase;
            font-family: Montserrat, "Helvetica Neue", Helvetica, Arial,sans-serif;
            font-weight: 700;
        }

        a { color: white !important; }

        .dropdown {

            li > a { color: #2C3E50 !important; }
        }
    }

    .view {

        width: 100%;
        height: calc(100% - 52px);  /* 50px form the navbar and 2 px from the navbar border */
        margin: 0px;

        .r360-autocomplete {

            font-size: 1.4em;
        }
    }

    .top-buffer { margin-top:10px; }
    .top-buffer2x { margin-top:20px; }

    .padding-bottom-5px {

        padding-bottom: 10px;
    }

    .help-heading {

        cursor: pointer;
    }

    .alert {

        margin-bottom: 0px;
    }

    .oepnv-calender {

        margin-top: 34px;
    }
}

.html-control {

    position: static;
    background-color: white;
    color: black;
    width: 344px;
    max-height: 450px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    padding: 7px;
    z-index:1000;
    color: black;
    overflow-y: scroll;
}

#laupi-details {

    padding: 10px;
    position: absolute;
    left: 10px;
    padding-left: 20px;
    background-color: white;
    color: black;
    width: 344px;
    max-height: 450px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    padding: 7px;
    z-index: 1000;
    color: black;
    overflow: auto;

    .map-icon-walking, .map-icon-bicycling {

        font-size: 24px;
    }

    .route-tab {

        img {

            height: 25px;
        }
    }

    .circle {
        
        margin:0 auto;
        width: 40px;
        height: 40px;
        position: relative;
        border-radius: 50%; 
        text-align: center;
        background-color: #BFBFBF;
    }

    .center {

        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #close-expose{

        position: absolute; 
        top:0; 
        right: 0;
        margin-top: 3px;
        margin-right: 5px;
        cursor: pointer;
        font-size: 14px;
    }

    .routeTypes {

        margin-top: 11px;
    }

    .circle-name {

        position: relative;
        z-index: 1;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        line-height: 40px;
    }

    td:first-child {

        padding-left: 5px;
    }

    .start-name {

        font-size: 14px;
        font-weight: bold;
    }

    .destination-name {

        font-size: 18px;
    }

    .destination-name-no-time {

        height: 50px;
        font-size: 18px;
        top: 50%;
        display: table-cell;
        vertical-align: middle;
    } 
}

.autocomplete {
    
    input {

        height: 43px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .btn {

        padding-top: 0px;
        padding-bottom: 0px;
        height: 43px;
        width: 43px;
        // margin-left: 10px; 
    }

    .btn-autocomplete-marker {

        padding-top: 0px;
        padding-bottom: 0px;
        background-color: white;
        width: 50px;
        z-index: 10000;

        img {

            margin-left: -5px;
        }
    }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.map {

    width: 100%;
    height: 100%;
    margin-top: -20px;
}

.laupi-result {

    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'map-icons';
    src:url('../fonts/map-icons.eot');
    src:url('../fonts/map-icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/map-icons.woff') format('woff'),
        url('../fonts/map-icons.ttf') format('truetype'),
        url('../fonts/map-icons.svg#map-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'map-icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.map-icon-walking, .map-icon-bicycling, .map-icon-train-station {
    font-family: 'map-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.map-icon-walking:before {
    content: "\e0ae";
}

.map-icon-bicycling:before {
    content: "\e0af";
}

.map-icon-train-station:before {
    content: "\e068";
}