<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:css(app/..) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/route360/dist/jquery-ui-1.10.0.custom.css" />
    <link rel="stylesheet" href="bower_components/route360/dist/r360.css" />
    <link rel="stylesheet" href="bower_components/ng-table/ng-table.css" />
    <!-- endbower -->
    <!-- endbuild -->

  </head>
  <body ng-app="route360DemoApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" ng-click="loadHome()">
            <img src="images/home/logo.png" class="img-responsive" style='width: 30px;float: left;margin-top: -5px;' alt="Route360° - Wohnungssuche 2.0"/><span style='margin-left: 8px; font-size: 22px;'>Route360°</span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="left-nav-bar" class="nav navbar-nav">
                <li id='apartment-search-edit' ng-class='navClass("apartment-search-edit")'><a href=''><i class='fa fa-search'></i> {{ 'EDIT_SEARCH' | translate }}</a></li>
                <li id='apartment-results' ng-class='navClass("apartment-results")'><a href=''><i class='fa fa-list-ol'></i> {{ 'RESULT_VIEW' | translate }}</a></li>
                <li id='apartment-liked' ng-class='navClass("apartment-liked")'><a href=''><i class='fa fa-heart'></i> {{ 'FAVOURITES' | translate }}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style='z-index: 10000;'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'HELP' | translate }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://developers.route360.net"><i class="fa fa-code"></i> {{ 'DOCUMENTATION' | translate }}</a></li>
                        <li ng-class="navClass('contact')" ng-click="loadContact()"><a target='_blank' href="https://www.route360.net/#section-contact"><i class="fa fa-envelope"></i> {{ 'CONTACT' | translate }}</a></li>
                        <li ng-class="navClass('about')" ng-click="loadAbout()"><a target='_blank' href="https://www.route360.net/impressum/">&nbsp;<i class="fa fa-info"></i>&nbsp;&nbsp;{{ 'ABOUT' | translate }}</a></li>          
                    </ul>
                </li>
                <li ng-if='language == "de"' ng-click="changeLanguage('en')"><a href=""><img style='margin-top: -2px;' src='images/flags/usa.png'> EN</a></li>
                <li ng-if='language == "en"' ng-click="changeLanguage('de')"><a href=""><img style='margin-top: -5px;' src='images/flags/germany.png'> DE</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
    <div ng-view="" class="view"></div>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.route360.net/analytics/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 9]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="http://www.route360.net/analytics/piwik.php?idsite=9" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app/..) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/raphael/raphael.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/route360/dist/r360.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>
    <script src="bower_components/ng-table/ng-table.js"></script>
    <script src="bower_components/jQuery.XDomainRequest/jQuery.XDomainRequest.js"></script>
    <script src="bower_components/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/cfg.js"></script>
        <script src="scripts/data/pubs.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/controllers/beer.js"></script>
        <script src="scripts/services/pubservice.js"></script>
        <script src="scripts/filters/secondstohoursmin.js"></script>
        <script src="scripts/controllers/apartment.js"></script>
        <script src="scripts/services/apartmentfactory.js"></script>
        <script src="scripts/services/tableparamfactory.js"></script>
        <script src="scripts/directives/apartmentdetails.js"></script>
        <script src="scripts/services/apartmentservice.js"></script>
        <!-- endbuild -->
</body>
</html>
