<div class="modal fade" id="apartment-search-edit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'EDIT_SEARCH' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12"><h3>{{ 'APARTMENTS' | translate }} <small>({{apartments.length > 0 ? apartments.length : 'keine Apartments gefunden'}})</small></h3></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">{{ 'FROM' | translate }}</div>
                        <div class="col-xs-4">{{ 'TO' | translate }}</div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-xs-4">{{ 'COLD_RENT' | translate }}</div>
                        <div class="col-xs-4"><input type="text" ng-model="search.apartment.minPrice"/></div>
                        <div class="col-xs-4"><input type="text" ng-model="search.apartment.maxPrice"/></div>
                    </div>
                    <div ng-if='priceError' class="row top-buffer">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8">
                            <div class="alert alert-danger" role="alert">Bitte Eingaben überprüfen!</div>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-xs-4">{{ 'AREA' | translate }}</div>
                        <div class="col-xs-4"><input type="text" ng-model="search.apartment.minArea"/></div>
                        <div class="col-xs-4"><input type="text" ng-model="search.apartment.maxArea"/></div>
                    </div>
                    <div ng-if='areaError' class="row top-buffer">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8">
                            <div class="alert alert-danger" role="alert">Bitte Eingaben überprüfen!</div>
                        </div>
                    </div>
                    <div class="row top-buffer">
                        <div class="col-xs-4">{{ 'ROOMS' | translate }}</div>
                        <div class="col-xs-4"><input type="text" ng-model="search.apartment.minRooms"/></div>
                        <div class="col-xs-4"><input type="text" ng-model="search.apartment.maxRooms"/></div>
                    </div>
                    <div ng-if='roomsError' class="row top-buffer">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8">
                            <div class="alert alert-danger" role="alert">{{'INPUT_ERROR' | translate }}</div>
                        </div>
                    </div>
                    <div class="row top-buffer2x">
                        <div class="col-xs-3"><checkbox name="custom-name" ng-model="search.apartment.courtage"></checkbox>    {{ 'FILTER_COURTAGE' | translate }}</div>
                        <div class="col-xs-3"><checkbox name="custom-name" ng-model="search.apartment.balcony"></checkbox>    {{ 'FILTER_BALCONY' | translate }}</div>
                        <div class="col-xs-3"><checkbox name="custom-name" ng-model="search.apartment.garden"></checkbox>    {{ 'FILTER_GARDEN' | translate }}</div>
                        <div class="col-xs-3"><checkbox name="custom-name" ng-model="search.apartment.kitchen"></checkbox>    {{ 'FILTER_KITCHEN' | translate }}</div>
                    </div>
                    <h3 class="top-buffer2x">{{ 'REACHABILITY' | translate }}</h3>
                    <div class="row top-buffer2x">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="search.r360.instant.intersection" btn-radio="'union'" uncheckable>{{ 'NO_INTERSECTION' | translate }}</label>
                                <label class="btn btn-default" ng-model="search.r360.instant.intersection" btn-radio="'intersection'" uncheckable>{{ 'INTERSECT_INTERSECTION' | translate }}</label>
                                <label class="btn btn-default" ng-model="search.r360.instant.intersection" btn-radio="'average'" uncheckable>{{ 'AVERAGE_INTERSECTION' | translate }}</label>
                            </div>
                            <button class="btn btn-default pull-right" ng-click="hideHelp = !hideHelp"><i class="fa fa-lightbulb-o"></i> {{ 'SHOW_HELP' | translate }}</button>
                            <div collapse="hideHelp" class='top-buffer2x'>
                                <!-- <hr> -->
                                <accordion close-others="status.oneAtATime">
                                    <accordion-group heading="{{ 'NO_INTERSECTION' | translate }}" class='help-heading'>
                                        <img src="/images/help/union.png" class="img-responsive padding-bottom-5px">
                                        <p>{{ 'NO_INTERSECTION_HELP' | translate }}</p>
                                    </accordion-group>
                                    <accordion-group heading="{{ 'INTERSECT_INTERSECTION' | translate }}" class='help-heading'>
                                        <img src="/images/help/intersection_annotated.png" class="img-responsive padding-bottom-5px">
                                        <p>{{ 'INTERSECT_INTERSECTION_HELP' | translate }}</p>
                                    </accordion-group>
                                    <accordion-group heading="{{ 'AVERAGE_INTERSECTION' | translate }}" is-open="status.isFirstOpen" class='help-heading'>
                                        <img src="/images/help/average_annotated.png" class="img-responsive padding-bottom-5px">
                                        <p>{{ 'AVERAGE_INTERSECTION_HELP' | translate }}</p>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                    <h3 class="top-buffer2x">{{ 'ÖPNV' | translate }}</h3>
                    <div class="row top-buffer2x">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <timepicker ng-model="search.r360.timeout.time" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                            </div>
                            <div class="col-md-6">
                                <p class="input-group oepnv-calender">
                                  <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="search.r360.timeout.date" is-open="opened" datepicker-options="{ formatYear: 'yy', startingDay: 1 }" ng-required="true" close-text="Schließen" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-map-marker"></i> {{ 'MAP_VIEW' | translate }}</button>
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="showResultView()"><i class="fa fa-list-ol"></i> {{ 'RESULT_VIEW' | translate }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="apartment-results-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-list-ol"></i> {{ 'RESULT_VIEW' | translate }}</h4>
            </div>
            <div class="modal-body">
                <table ng-table="apartmentsTableParams" class="table">
                    <tr ng-repeat="apartment in $data">
                        <td data-title="'Expose'" class='text-center'>
                            <a target='_blank' href="http://immobilienscout24.de/expose/{{apartment.id}}">
                                <img class='img-responsive img-thumbnail' ng-src="{{apartment.img}}" style="max-height: 70px;">
                            </a>        
                        </td>
                        <td data-title="'COLD_RENT' | translate" sortable="'price'" class='text-center'>
                                {{apartment.price}}
                        </td>
                        <td data-title="'AREA' | translate" sortable="'area'" class='text-center'>
                            {{apartment.area}}
                        </td>
                        <td data-title="'ROOMS' | translate" sortable="'rooms'" class='text-center'>
                            {{apartment.rooms}}
                        </td>
                        <td data-title="'TRAVELTIME' | translate" sortable="'averageTravelTime'" class='text-center'>
                            <div ng-if='apartment.averageTravelTime < 10000000'>{{ apartment.averageTravelTime | secondsToHoursMin }}</div>
                            <div ng-if='apartment.averageTravelTime == 10000000'>{{ 'NOT_REACHABLE' | translate }}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-map-marker"></i> {{ 'MAP_VIEW' | translate }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showEditSearchView()"><i class='fa fa-search'></i> Suche ändern</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="apartment-liked-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'FAVOURITES' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div ng-if='likeCookie.length == 0'>{{ 'NO_FAVOURITES' | translate }}</div>
                <div ng-if='likeCookie.length > 0'>
                    <table ng-table="likedTableParams" class="table">
                        <tr ng-repeat="apartment in $data">
                            <td data-title="'Expose'" class='text-center'>
                                <a target='_blank' href="http://immobilienscout24.de/expose/{{apartment.id}}">
                                    <img class='img-responsive img-thumbnail' ng-src="{{apartment.imageUrlLarge}}" style="max-height: 70px;">
                                </a>        
                            </td>
                            <td data-title="'COLD_RENT' | translate" sortable="'price'" class='text-center'>
                                {{apartment.price}}
                            </td>
                            <td data-title="'AREA' | translate" sortable="'area'" class='text-center'>
                                {{apartment.area}}
                            </td>
                            <td data-title="'ROOMS' | translate" sortable="'rooms'" class='text-center'>
                                {{apartment.rooms}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-map-marker"></i> {{ 'MAP_VIEW' | translate }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="feedback">
  <a href="https://docs.google.com/forms/d/1yNdGnp7J_AHYNiPhNsSf85Tmx2qr2d6ocYrthO-_-XM/viewform" target='_blank'>feedback</a>
</div>

<div class="map" id="map-apartment">
    <div id='apartment-details' ng-show='apartment' class='container-fluid'>
        <div class="row" style="width: 316px; margin-left: 0px; margin-right: 0px;">
            <div id='close-expose'><i class="fa fa-times"></i></div>
            <h4>{{apartment.title}}</h4>
            <div class="col-md-12 text-center" style="padding-left: 0px;">
                <ul class="pager" style='margin: 2px 0px 4px 0px;'>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer;'>{{apartment.price}}€ {{ 'COLD' | translate }}</a></li>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer;'>{{apartment.rooms}} {{ 'ROOMS' | translate }}</a></li>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer;'>{{apartment.area}}m²</a></li>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer; margin-top: 5px;'>{{apartment.averageTravelTime | secondsToHoursMin}} Ø {{ 'TRAVELTIME' | translate }}</a></li>
                  <!-- <li class='disabled' ><a href="" style='color:black;cursor: pointer; margin-top: 5px;'>{{apartment.id}}</a></li> -->
                </ul>
            </div>
            <div class="col-xs-12 top-buffer">
                <div class="col-xs-2">
                    <checkbox disabled name="custom-name "ng-init="courtage = !apartment.courtage" ng-model="courtage" style='color: black; width: 25px;'></checkbox>
                </div>
                <div class="col-xs-4">{{ 'FILTER_COURTAGE' | translate }}</div>
                <div class="col-xs-2">
                    <checkbox disabled ng-if="apartment" name="custom-name" ng-model="apartment.balcony" style='color: black; width: 25px;'></checkbox>
                </div>
                <div class="col-xs-4">{{ 'FILTER_BALCONY' | translate }}</div>
            </div>
            <div class="col-xs-12 top-buffer">
                <div class="col-xs-2">
                    <checkbox disabled ng-if="apartment" name="custom-name" ng-model="apartment.garden" style='color: black; width: 25px;'></checkbox>
                </div>
                <div class="col-xs-4">{{ 'FILTER_GARDEN' | translate }}</div>
                <div class="col-xs-2">
                    <checkbox disabled ng-if="apartment" name="custom-name" ng-model="apartment.kitchen" style='color: black; width: 25px;'></checkbox>
                </div>
                <div class="col-xs-4">{{ 'FILTER_KITCHEN' | translate }}</div>
            </div>
            <div class="col-xs-12 text-center top-buffer">
                <img  class="img-responsive img-thumbnail" ng-src='{{apartment.imageUrlLarge}}'>
            </div>  
            <div class="col-xs-12 top-buffer text-center">
                <!-- <pre>{{apartment|json}}</pre> -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click='openExpose(apartment.id)'>{{ 'EXPOSE' | translate }}</button>
                    <button ng-if='!apartment.liked' type="button" class="btn btn-default" ng-click='likeApartment(apartment.id)'><i class="fa fa-heart-o"> {{ 'LIKE' | translate }}</i></button>
                    <button ng-if='apartment.liked' type="button" class="btn btn-default" ng-click='likeApartment(apartment.id)'><i class="fa fa-heart"> {{ 'LIKED' | translate }}</i></button>
                    <button type="button" class="btn btn-default" ng-click='hideApartment(apartment.id)'>{{ 'HIDE' | translate }}</button>
                </div>
            </div>
        </div>
        
        <div class="row top-buffer" style="width: 316px; margin-left: 0px; margin-right: 0px;">
            <h4>{{ 'WAYS' | translate }}</h4>
            <tabset>
                <tab ng-repeat="route in apartment.routes" class='route-tab'>
                    <tab-heading>
                        <img ng-src="{{route.icon}}"> {{route.travelTime | secondsToHoursMin}}
                    </tab-heading>
                    <table class="table table-striped" id="details-travel-table">
                        <tr ng-repeat="segment in route.getSegments() | reverse" ts-repeat>
                            <!-- WALK -->
                            <td ng-if="segment.getType() == 'WALK'" class=""><div class="center routeTypes"><span class="map-icon-walking"></span></div></td>
                            <td ng-if="segment.getType() == 'WALK' && route.getSegments().length > 1 && $index < route.getSegments().length - 2">
                                <span class='start-name center-block'>{{route.getSegments()[route.getSegments().length - 2].getStartName() | cleanName }}</span>
                            </td>
                            <td ng-if="segment.getType() == 'WALK' && $index == route.getSegments().length - 1 && route.getSegments().length > 1">
                                <big class='start-name center-block'>{{apartment.street}} {{apartment.houseNumber}}</big>
                            </td>
                            <td ng-if="segment.getType() == 'WALK' && route.getSegments().length == 1"><span class='destination-name center-block' style='margin-top: 8px;'>{{apartment.street}} {{apartment.houseNumber}}</span></td>
                            <td ng-if="segment.getType() == 'WALK'">
                                <div style="text-align: center">{{segment.travelTime | secToMin }}min</div>
                                <div style="text-align: center"><small>{{segment.length | formatKilometer }}</small></div>
                            </td>
                            <!-- TRANSFER -->
                            <td ng-if="segment.getType() == 'TRANSFER'"><i class="fa fa-arrows-h center"></i></td>
                            <td ng-if="segment.getType() == 'TRANSFER'">{{'TRANSFER' | translate }}</td>
                            <td ng-if="segment.getType() == 'TRANSFER'"><div style="text-align: center;">{{segment.getTravelTime() | secondsToHoursMin }}</div></td>
                             <!-- CAR -->
                            <td ng-if="segment.getType() == 'CAR'"><div class="center routeTypes"><i class="fa fa-automobile center"></i></div></td>
                            <td ng-if="segment.getType() == 'CAR'"><span class='destination-name center-block' style='margin-top: 8px;'>{{apartment.street}} {{apartment.houseNumber}}</span></td>
                            <td ng-if="segment.getType() == 'CAR'">
                                <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                                <div style="text-align: center"><small>{{segment.getLength() | formatKilometer }}</small></div>
                            </td>
                             <!-- BIKE -->
                            <td ng-if="segment.getType() == 'BIKE'"><div class="center routeTypes"><span class="map-icon-bicycling"></span></div></td>
                            <td ng-if="segment.getType() == 'BIKE'"><span class='destination-name center-block' style='margin-top: 8px;'>{{apartment.street}} {{apartment.houseNumber}}</span></td>
                            <td ng-if="segment.getType() == 'BIKE'">
                                <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                                <div style="text-align: center"><small>{{segment.getLength() | formatKilometer }}</small></div>
                            </td>
                            <!-- TRANSIT -->
                            <td ng-if="segment.getType() == 'TRANSIT'">
                                <div class="circle center routeTypes"><div class="circle-name">{{segment.getRouteShortName()}}</div></div>
                            </td>
                            <td ng-if="segment.getType() == 'TRANSIT' && dateChange">
                                <table class="table table-condensed" style='margin-bottom: 0px;'>
                                  <tbody>
                                    <tr style="border-style:none;">
                                      <td>{{ 'DEPARTURE' | translate }}</td>
                                      <td>{{segment.getDepartureTime() | secToTime }}</td>
                                    </tr>
                                    <tr>
                                      <td>{{ 'DIRECTION' | translate }}</td>
                                      <td>{{ segment.getTripHeadSign() | cleanName }}</td>
                                    </tr>
                                    <tr>
                                      <td>{{ 'ARRIVAL' | translate }}</td>
                                      <td>{{segment.getArrivalTime() | secToTime }}</td>
                                    </tr>
                                    <tr>
                                      <td colspan="2" class='destination-name'>{{segment.getEndName() | cleanName }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </td>
                            <td ng-if="segment.getType() == 'TRANSIT' && !dateChange" >
                                <span class='destination-name-no-time center-block'>{{segment.getEndName() | cleanName }}</span>
                            </td>
                            <td ng-if="segment.getType() == 'TRANSIT'">
                                <div style="text-align: center;">{{segment.getTravelTime() | secToMin }}min</div>
                                <div style='text-align: center;'><img style="width:40px;margin-top:5px;" ng-src="{{'images/marker/' + segment.routeType + '.png'}}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-clock-o fa-2x center"></i></td>
                            <td class='destination-name'>{{ 'COMPLETE_TRAVELTIME' | translate }}</td>
                            <td><div class='center destination-name'>{{route.travelTime | secondsToHoursMin }}</div></td>
                        </tr>
                    </table>
                </tab>
            </tabset>
        </div>
    </div>
</div>

