<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="images/home/apartment.jpg" alt="Sass and Less support" class="img-responsive">
        <h3>{{ 'APPARTMENTS' | translate }}</h3>
        <p>https://www.flickr.com/photos/faerieenigma/</p>
      </div>
      <div class="col-md-6">
        <img src="images/home/toilet.jpg" alt="Responsive across devices" class="img-responsive">
        <h3>{{ 'PUBLIC_TOILETS' | translate }}</h3>
        <p>https://www.flickr.com/photos/janewaterbury/</p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="#beer">
                <img src="images/home/beer.jpg" alt="Components" class="img-responsive">
                <h3>{{ 'BARS' | translate }}</h3>
                <p>https://www.flickr.com/photos/kaffeerand/</p>
            </a>
        </div>
        <div class="col-md-6">
            <img src="images/home/museum.jpg" alt="Sass and Less support" class="img-responsive">
            <h3>{{ 'MUSEUMS' | translate }}</h3>
            <p>https://www.flickr.com/photos/ntrinkhaus/</p>
        </div>
    </div>
</div>