<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>{{ 'APPARTMENTS' | translate }}</h3>
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#apartment">
                        <img src="images/home/apartment.jpg" alt="{{ 'APPARTMENTS' | translate }}" class="img-responsive">
                        </a>
                        <div class="carousel-caption">
                            <h4>This is the caption</h4>
                            Photo by <a href="ttps://www.flickr.com/photos/faerieenigma/">faerieenigma</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>{{ 'PUBLIC_TOILETS' | translate }}</h3>
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="images/home/toilet.jpg" alt="{{ 'PUBLIC_TOILETS' | translate }}" class="img-responsive">
                        <div class="carousel-caption">
                            <h4>This is the caption</h4>
                            Photo by <a href="ttps://www.flickr.com/photos/janewaterbury/">janewaterbury</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- <a href="#beer"> -->
            <h3>{{ 'BARS' | translate }}</h3>
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#beer">
                            <img src="images/home/beer.jpg" alt="{{ 'BARS' | translate }}" class="img-responsive">
                        </a>
                        <div class="carousel-caption">
                            <h4>{{ "FIND_BEER" | translate }}</h4>
                            Photo by <a href="ttps://www.flickr.com/photos/kaffeerand/">kaffeerand</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- <a href="#museum"> -->
            <h3>{{ 'MUSEUMS' | translate }}</h3>
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="images/home/museum.jpg" alt="{{ 'MUSEUMS' | translate }}" class="img-responsive">
                        <div class="carousel-caption">
                            <h4>This is the caption</h4>
                            Photo by <a href="ttps://www.flickr.com/photos/ntrinkhaus/">ntrinkhaus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>