<div class="modal fade" id="laupi-search-edit-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'Suche bearbeiten'  }}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Eigentumsart</h4>
                                <div id="eigentumsArt-select" isteven-multi-select input-model="eigentumsArt" output-model="selectedEigentumsArt" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Grundstück</h4>
                                <div id="grundstuecksFlaeche-select" isteven-multi-select selection-mode="single" input-model="grundstuecksFlaeche" output-model="selectedGrundstuecksFlaeche" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Hausfläche</h4>
                                <div id="hausFlaeche-select" isteven-multi-select selection-mode="single" input-model="hausFlaeche" output-model="selectedHausFlaeche" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Preis</h4>
                                <div id="kaufpreis-select" isteven-multi-select selection-mode="single" input-model="kaufpreis" output-model="selectedKaufpreis" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="filterLaupis();showLaupis();"><i class="fa fa-map-marker"></i> {{ 'Kartenansicht'  }}</button>
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="filterLaupis();showResultView()"><i class="fa fa-list-ol"></i> {{ 'Listenansicht'  }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="laupi-results-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-list-ol"></i> {{ 'Listenansicht'  }}</h4>
            </div>
            <div class="modal-body">
                <table ng-table="laupisTableParams" class="table">
                    <tr ng-repeat="laupi in $data">
                        <td data-title="'Nr.'" sortable="'verwaltung_techn-objektnr_extern'" class='text-center'>
                            {{laupi['verwaltung_techn-objektnr_extern']}}
                        </td>
                        <td data-title="'Produkt'" class='text-center'>
                            <a target='_blank' href="http://relaunch.laupi.de/ansicht/expose/{{laupi['uriident']}}.html" title="Zum Exposé">
                                {{laupi['freitexte-objekttitel']}}
                            </a>
                        </td>
                        <td data-title="'Foto'" class='text-center'>
                            <a target='_blank' href="http://relaunch.laupi.de/ansicht/expose/{{laupi['uriident']}}.html" title="Zum Exposé">
                                <img class='img-responsive img-thumbnail' ng-src="https://www.laupi.de/{{laupi['anhaenge-anhang-#1-daten-pfad']}}" style="max-height: 70px;">
                            </a>
                        </td>
                        <td data-title="'Eigentumsart'" sortable="'laupi-eigentumsart'" class='text-center'>
                            {{laupi['laupi-eigentumsart']}}
                        </td>
                        <td data-title="'Grundstück'" sortable="'flaechen-gesamtflaeche'" class='text-center'>
                            {{laupi['flaechen-gesamtflaeche'] | prettifyNumber: 'm²'}}
                        </td>
                        <td data-title="'Hausfläche'" sortable="'laupi-hausflaeche'" class='text-center'>
                            {{laupi['laupi-hausflaeche'] | prettifyNumber: 'm²'}}
                        </td>
                        <td data-title="'Preis'" sortable="'preise-kaufpreisbrutto'" class='text-center'>
                            {{laupi['preise-kaufpreisbrutto'] | prettifyNumber: '€'}}
                        </td>
                        <td data-title="'Reisezeit'" sortable="'travelTime'" class='text-center'>
                            <div ng-if='laupi.travelTime >= 0 && laupi.travelTime < travelTimeControl.getMaxValue()'>{{ laupi.travelTime | secToHoursMin }}</div>
                            <div ng-if='laupi.travelTime == -1 || laupi.travelTime > travelTimeControl.getMaxValue()'>{{'Nicht erreichbar in'}} {{travelTimeControl.getMaxValue() | secToHoursMin }}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-map-marker"></i> {{ 'Kartenansicht'  }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showEditSearchView()"><i class='fa fa-search'></i> Suche ändern</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="laupi-legend-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-info"></i> {{ 'Legende'  }}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Marker</h3>
                            <p><img src="images/marker/marker-icon-red.png" title="Startpunkt" class="icon">
                                <span>Startpunkt / Ihr Wohnort<br>
                                    <small>Diesen Marker können Sie entsprechend Ihres Standortes verschieben.</small></span>
                            </p>
                            <p><img src="images/marker/marker-icon-grey.png" class="icon">Objekte außer Reichweite</p>
                            <p><img src="images/marker/marker-icon-green.png" class="icon">Erreichbare Objekte in der gewählten Reisezeit</p>
                        </div>
                        <div class="col-md-6">
                            <h3>Wege</h3>
                            <p><img src="images/help/line-bahn.png" class="icon"> Bahn</p>
                            <p><img src="images/help/line-bus.png" class="icon"> Bus</p>
                            <p><img src="images/help/line-fahrrad-auto.png" class="icon"> Fahrrad</p>
                            <p><img src="images/help/line-fahrrad-auto.png" class="icon"> Auto</p>
                            <p><img src="images/help/line-sbahn.png" class="icon"> S-Bahn</p>
                            <p><img src="images/help/line-zufuss.png" class="icon"> Zu Fuß</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Fahrzeitermittlung</h3>
                            <p>Die angezeigte Verbindung ist die schnellste zwischen 17:00 und 20:00 Uhr am Freitag.</p>
                            <h3>Erreichbarkeitsanalsyse</h3>
                            <p>Derzeit steht die Erreichbarkeitsanalyse nur für Objekte in Berlin und Brandenburg zur Verfügung.</p>
                            <p>Die Marker zeigen abweichende Objektadressen.</p>
                         </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p>Benötigen Sie Hilfe bei der Suche eines passenden Objektes, oder sind sie an einer präzisen Objektadresse interessiert, dann nutzen Sie doch bitte eine der folgenden <a href="http://relaunch.laupi.de/de/kontaktdaten-anfragen.html">Kontaktmöglichkeiten</a>.</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id='laupi-details' ng-show='laupi' class='container-fluid'>
        <div class="row" style="width: 380px; margin-left: 0px; margin-right: 0px;">
            <div id='close-expose'><i class="fa fa-times"></i></div>
            <h4>{{laupi['freitexte-objekttitel']}}</h4>
            <div class="col-md-12 text-center" style="padding-left: 0px;">
                <div class="estate-box clearfix">
                    <h2>Daten &amp; Fakten</h2>
                    <ul class="attr-info">
                        <li class="info-label clearfix"> <span class="pull-left">Garten:</span> <span class="qty pull-left"><div class="field value-number flaechen-gesamtflaeche">ca. {{laupi['flaechen-gesamtflaeche'] | prettifyNumber: 'm²'}} </div></span></li>
                        <li class="info-label clearfix"> <span class="pull-left">Haus:</span> <span class="qty pull-left"><div class="field value-number laupi-hausflaeche">ca. {{laupi['laupi-hausflaeche'] | prettifyNumber: 'm²'}}</div></span></li>
                        <li class="info-label clearfix"> <span class="pull-left">Preis:</span> <span class="qty pull-left">{{laupi['preise-kaufpreisbrutto'] | prettifyNumber: '€'}}<br><small>(inklusive Provision und MwSt.)</small></span></li>
                        <li class="info-label clearfix" ng-show="laupi['preise-pacht_jahr'] != '0.00'"> <span class="pull-left">Pacht / Jahr:</span> <span class="qty pull-left">{{laupi['preise-pacht_jahr'] | prettifyNumber: '€'}}</span></li>
                        <li class="info-label clearfix" ng-show="laupi['preise-pacht_jahr'] == '0.00'"><span class="pull-left">{{laupi['laupi-eigentumsart']}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 text-center top-buffer">
                <a target='_blank' href="http://relaunch.laupi.de/ansicht/expose/{{laupi['uriident']}}.html" title="Zum Exposé">
                    <img  class="img-responsive img-thumbnail" ng-src="https://www.laupi.de/{{laupi['anhaenge-anhang-#1-daten-pfad']}}">
                </a><br />
                <p><a class="btn btn-info btn-block" target='_blank' href="http://relaunch.laupi.de/ansicht/expose/{{laupi['uriident']}}.html" title="Zum Exposé">Zum Exposé</a></p>
                <span class="label label-info">Reisezeit: {{laupi.travelTime | secToHoursMin}}</span>
            </div>
        </div>
        
        <div class="row top-buffer" style="width: 380px; margin-left: 0px; margin-right: 0px;">
            <h4>Anfahrt</h4>
            <table class="table table-striped" id="details-travel-table">
                <tr ng-repeat="segment in laupi.route.getSegments().slice() track by $index" class="routeType-{{segment.routeType ? segment.routeType : segment.type}}">
                    <!-- WALK -->
                    <td ng-if="segment.getType() == 'WALK'"><div class="center routeTypes"><i class="fa fa-male fa-2x center"></i></div></td>
                    <td ng-if="segment.getType() == 'WALK' && $index == 0 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>{{laupi.route.getSegments()[1].startname}}</span></td>
                    <td ng-if="segment.getType() == 'WALK' && laupi.route.getSegments().length == 1"><span class='destination-name center-block' style='margin-top: 8px;'>Gesamtreisedauer</span></td>
                    <td ng-if="segment.getType() == 'WALK' && $index == laupi.route.getSegments().length - 1 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>Ziel</span></td>
                    <td ng-if="segment.getType() == 'WALK'">
                        <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style="text-align: center"><small>{{segment.getDistance() * 1000 | formatMeter }}</small></div>
                    </td>
                    <!-- TRANSFER -->
                    <td ng-if="segment.travelTime != 0 && segment.getType() == 'TRANSFER'" class="text-center"><i class="fa fa-arrows-h"></i></td>
                    <td ng-if="segment.travelTime != 0 && segment.getType() == 'TRANSFER'">Umsteigen</td>
                    <td ng-if="segment.travelTime != 0 && segment.getType() == 'TRANSFER'"><div style="text-align: center;">{{segment.getTravelTime() | secToHoursMin }}</div></td>
                     <!-- CAR -->
                    <td ng-if="segment.getType() == 'CAR'"><div class="center routeTypes"><i class="fa fa-automobile center"></i></div></td>
                    <td ng-if="segment.getType() == 'CAR'"><span class='destination-name center-block' style='margin-top: 8px;'>Gesamtreisedauer</span></td>
                    <td ng-if="segment.getType() == 'CAR'">
                        <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style="text-align: center"><small>{{segment.getDistance() * 1000 | formatMeter }}</small></div>
                    </td>
                     <!-- BIKE -->
                     <!-- WALK -->
                    <td ng-if="segment.getType() == 'BIKE'"><div class="center routeTypes"><i class="fa fa-bicycle fa-2x center"></i></div></td>
                    <td ng-if="segment.getType() == 'BIKE' && $index == 0 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>{{laupi.route.getSegments()[laupi.route.getSegments().length - 3].startname}}</span></td>
                    <td ng-if="segment.getType() == 'BIKE' && laupi.route.getSegments().length == 1"><span class='destination-name center-block' style='margin-top: 8px;'>Gesamtreisedauer</span></td>
                    <td ng-if="segment.getType() == 'BIKE' && $index == laupi.route.getSegments().length - 1 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>Ziel</span></td>
                    <td ng-if="segment.getType() == 'BIKE'">
                        <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style="text-align: center"><small>{{segment.getDistance() * 1000 | formatMeter }}</small></div>
                    </td>
                    <!-- TRANSIT -->
                    <td ng-if="segment.getType() == 'TRANSIT'">
                        <div class="circle center routeTypes"><div class="circle-name">{{segment.getRouteShortName()}}</div></div>
                    </td>
                    <td ng-if="segment.getType() == 'TRANSIT'">
                        <table class="table table-condensed" style='margin-bottom: 0px;'>
                          <tbody>
                            <tr style="border-style:none;">
                              <td>Abfahrt</td>
                              <td>{{segment.getDepartureTime() | secToTime }}</td>
                            </tr>
                            <tr>
                              <td>Richtung</td>
                              <td>{{ segment.getTripHeadSign() | cleanName }}</td>
                            </tr>
                            <tr>
                              <td>Ankunft</td>
                              <td>{{segment.getArrivalTime() | secToTime }}</td>
                            </tr>
                            <tr>
                              <td colspan="2" class='destination-name'>{{segment.getEndName() | cleanName }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </td>
                    <td ng-if="segment.getType() == 'TRANSIT'">
                        <div style="text-align: center;">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style='text-align: center;'><img style="width:40px;margin-top:5px;" ng-src="{{'images/marker/' + segment.routeType + '.png'}}"></div>
                    </td>
                </tr>
                <tr ng-if="laupi.route.getSegments().length > 1">
                    <td><i class="fa fa-clock-o fa-2x center"></i></td>
                    <td class='destination-name'>Gesamtreisedauer</td>
                    <td><div class='center destination-name'>{{laupi.route.travelTime | secToHoursMin }}</div></td>
                </tr>
            </table>
        </div>
    </div>

<div class="map" id="map-laupi">
</div>

