<div class="modal fade" id="laupi-search-edit-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'Suche bearbeiten'  }}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <h4>Eigentumsart</h4>
                                <div id="eigentumsArt-select" isteven-multi-select input-model="eigentumsArt" output-model="selectedEigentumsArt" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <h4>Grundstück</h4>
                                <div id="grundstuecksFlaeche-select" isteven-multi-select selection-mode="single" input-model="grundstuecksFlaeche" output-model="selectedGrundstuecksFlaeche" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <h4>Hausfläche</h4>
                                <div id="hausFlaeche-select" isteven-multi-select selection-mode="single" input-model="hausFlaeche" output-model="selectedHausFlaeche" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <h4>Hausart</h4>
                                <div id="hausArt-select" isteven-multi-select input-model="hausArt" output-model="selectedHausArt" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>  
                        <div class="col-md-4">
                            <div class="form-group">
                                <h4>Preis</h4>
                                <div id="kaufpreis-select" isteven-multi-select selection-mode="single" input-model="kaufpreis" output-model="selectedKaufpreis" button-label="icon name" item-label="icon name" helper-elements="" max-labels="1" default-label="Nichts ausgewählt" tick-property="ticked"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="filterLaupis();showLaupis();"><i class="fa fa-map-marker"></i> {{ 'Kartenansicht'  }}</button>
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="showResultView()"><i class="fa fa-list-ol"></i> {{ 'Listenansicht'  }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="laupi-results-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-list-ol"></i> {{ 'Listenansicht'  }}</h4>
            </div>
            <div class="modal-body">
                <table ng-table="laupisTableParams" class="table">
                    <tr ng-repeat="laupi in $data">
                        <td data-title="'Expose'" class='text-center'>
                            <a target='_blank' href="http://google.com/{{laupi.uuid}}">
                                <img class='img-responsive img-thumbnail' ng-src="http://laupi.de/{{laupi['anhaenge-anhang-#1-daten-pfad']}}" style="max-height: 70px;">
                            </a>        
                        </td>
                        <td data-title="'Eigentumsart'" sortable="'laupi-eigentumsart'" class='text-center'>
                            {{laupi['laupi-eigentumsart']}}
                        </td>
                        <td data-title="'Grundstück'" sortable="'flaechen-gesamtflaeche'" class='text-center'>
                            {{laupi['flaechen-gesamtflaeche'] | prettifyNumber: 'm²'}}
                        </td>
                        <td data-title="'Hausfläche'" sortable="'laupi-hausflaeche'" class='text-center'>
                            {{laupi['laupi-hausflaeche'] | prettifyNumber: 'm²'}}
                        </td>
                        <td data-title="'Hausart'" sortable="'laupi-hausart'" class='text-center'>
                            {{laupi['laupi-hausart']}}
                        </td>
                        <td data-title="'Preis'" sortable="'preise-kaufpreisbrutto'" class='text-center'>
                            {{laupi['preise-kaufpreisbrutto'] | prettifyNumber: '€'}}
                        </td>
                        <td data-title="'Reisezeit'" sortable="'travelTime'" class='text-center'>
                            <div ng-if='laupi.travelTime >= 0 && laupi.travelTime < travelTimeControl.getMaxValue()'>{{ laupi.travelTime | secToHoursMin }}</div>
                            <div ng-if='laupi.travelTime == -1 || laupi.travelTime > travelTimeControl.getMaxValue()'>{{'Nicht erreichbar in'}} {{travelTimeControl.getMaxValue() | secToHoursMin }}</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-map-marker"></i> {{ 'Kartenansicht'  }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="showEditSearchView()"><i class='fa fa-search'></i> Suche ändern</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="map" id="map-laupi">
    <div id='laupi-details' ng-show='laupi' class='container-fluid'>
        <div class="row" style="width: 380px; margin-left: 0px; margin-right: 0px;">
            <div id='close-expose'><i class="fa fa-times"></i></div>
            <h4>{{laupi['freitexte-objekttitel']}}</h4>
            <div class="col-md-12 text-center" style="padding-left: 0px;">
                <ul class="pager" style='margin: 2px 0px 4px 0px;'>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer;'>{{laupi['preise-kaufpreisbrutto'] | prettifyNumber: '€'}}</a></li>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer;'>{{laupi['laupi-hausflaeche'] | prettifyNumber: 'm²'}} Hausfläche</a></li>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer;'>{{laupi['flaechen-gesamtflaeche'] | prettifyNumber: 'm²'}} Gesamtfläche</a></li>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer;'>{{laupi['laupi-hausart']}}</a></li>
                  <li class='disabled' ><a href="" style='color:black;cursor: pointer; margin-top: 5px;'>{{laupi.travelTime | secToHoursMin}} Reisezeit</a></li>
                </ul>
            </div>
            <div class="col-xs-12 text-center top-buffer">
                    <img  class="img-responsive img-thumbnail" ng-src="http://laupi.de/{{laupi['anhaenge-anhang-#1-daten-pfad']}}">
                </a>
            </div>  
        </div>
        
        <div class="row top-buffer" style="width: 380px; margin-left: 0px; margin-right: 0px;">
            <h4>Anfahrt</h4>
            <table class="table table-striped" id="details-travel-table">
                <tr ng-repeat="segment in laupi.route.getSegments().slice() track by $index" class="routeType-{{segment.routeType ? segment.routeType : segment.type}}">
                    <!-- WALK -->
                    <td ng-if="segment.getType() == 'WALK'"><div class="center routeTypes"><i class="fa fa-male fa-2x center"></i></div></td>
                    <td ng-if="segment.getType() == 'WALK' && $index == 0 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>{{laupi.route.getSegments()[laupi.route.getSegments().length - 3].startname}}</span></td>
                    <td ng-if="segment.getType() == 'WALK' && laupi.route.getSegments().length == 1"><span class='destination-name center-block' style='margin-top: 8px;'>Gesamtreisedauer</span></td>
                    <td ng-if="segment.getType() == 'WALK' && $index == laupi.route.getSegments().length - 1 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>Ziel</span></td>
                    <td ng-if="segment.getType() == 'WALK'">
                        <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style="text-align: center"><small>{{segment.getDistance() * 1000 | formatMeter }}</small></div>
                    </td>
                    <!-- TRANSFER -->
                    <td ng-if="segment.travelTime != 0 && segment.getType() == 'TRANSFER'" class="text-center"><i class="fa fa-arrows-h"></i></td>
                    <td ng-if="segment.travelTime != 0 && segment.getType() == 'TRANSFER'">Umsteigen</td>
                    <td ng-if="segment.travelTime != 0 && segment.getType() == 'TRANSFER'"><div style="text-align: center;">{{segment.getTravelTime() | secToHoursMin }}</div></td>
                     <!-- CAR -->
                    <td ng-if="segment.getType() == 'CAR'"><div class="center routeTypes"><i class="fa fa-automobile center"></i></div></td>
                    <td ng-if="segment.getType() == 'CAR'"><span class='destination-name center-block' style='margin-top: 8px;'>Gesamtreisedauer</span></td>
                    <td ng-if="segment.getType() == 'CAR'">
                        <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style="text-align: center"><small>{{segment.getDistance() * 1000 | formatMeter }}</small></div>
                    </td>
                     <!-- BIKE -->
                     <!-- WALK -->
                    <td ng-if="segment.getType() == 'BIKE'"><div class="center routeTypes"><i class="fa fa-bicycle fa-2x center"></i></div></td>
                    <td ng-if="segment.getType() == 'BIKE' && $index == 0 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>{{laupi.route.getSegments()[laupi.route.getSegments().length - 3].startname}}</span></td>
                    <td ng-if="segment.getType() == 'BIKE' && laupi.route.getSegments().length == 1"><span class='destination-name center-block' style='margin-top: 8px;'>Gesamtreisedauer</span></td>
                    <td ng-if="segment.getType() == 'BIKE' && $index == laupi.route.getSegments().length - 1 && laupi.route.getSegments().length > 1"><span class='destination-name center-block' style='margin-top: 8px;'>Ziel</span></td>
                    <td ng-if="segment.getType() == 'BIKE'">
                        <div style="text-align: center">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style="text-align: center"><small>{{segment.getDistance() * 1000 | formatMeter }}</small></div>
                    </td>
                    <!-- TRANSIT -->
                    <td ng-if="segment.getType() == 'TRANSIT'">
                        <div class="circle center routeTypes"><div class="circle-name">{{segment.getRouteShortName()}}</div></div>
                    </td>
                    <td ng-if="segment.getType() == 'TRANSIT'">
                        <table class="table table-condensed" style='margin-bottom: 0px;'>
                          <tbody>
                            <tr style="border-style:none;">
                              <td>Abfahrt</td>
                              <td>{{segment.getDepartureTime() | secToTime }}</td>
                            </tr>
                            <tr>
                              <td>Richtung</td>
                              <td>{{ segment.getTripHeadSign() | cleanName }}</td>
                            </tr>
                            <tr>
                              <td>Ankunft</td>
                              <td>{{segment.getArrivalTime() | secToTime }}</td>
                            </tr>
                            <tr>
                              <td colspan="2" class='destination-name'>{{segment.getEndName() | cleanName }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </td>
                    <td ng-if="segment.getType() == 'TRANSIT'">
                        <div style="text-align: center;">{{segment.getTravelTime() | secToMin }}min</div>
                        <div style='text-align: center;'><img style="width:40px;margin-top:5px;" ng-src="{{'images/marker/' + segment.routeType + '.png'}}"></div>
                    </td>
                </tr>
                <tr ng-if="laupi.route.getSegments().length > 1">
                    <td><i class="fa fa-clock-o fa-2x center"></i></td>
                    <td class='destination-name'>Gesamtreisedauer</td>
                    <td><div class='center destination-name'>{{laupi.route.travelTime | secToHoursMin }}</div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

